body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
h1 {
  margin: 10% auto 3% auto;
}
label {
  margin: 10px;
}
blockquote {
  margin: 0% 25%;
  font-style: italic;
}
button {
  display: block;
  margin: 20px auto;
}
#character {
  font-style: oblique;
}
#anime-name {
  font-style: oblique;
  text-transform: uppercase;
}
#anime-selection {
  display: none;
}
